
/* MAPPA STYLES */
.mappa-canvas {
    border: 1px solid #ccc;
    background-color: #eee;
}

.mappa-workspace {
    display: inline-block;
    vertical-align: top;
}
.mappa-output {
    display: inline-block;
    vertical-align: top;
}
.mappa-html {
    border: 1px solid #ccc;
    background-color: #eee;
    margin: 0;
    padding: 0;
    min-width: 40em;
    font-family: "Consolas", "Andale Mono", "Courier New";
}
.mappa-list {
    color: #ccc;
}
.mappa-list .selected-true{
    color: #000;
}
.mappa-list input {
    width: 8em;
}


/* PAGE STYLES */

body, input, select {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

header, footer {
    max-width: 1000px;
    margin: 0 auto;
}
section {
    text-align: center;
}
.mappa {
    display: inline-block;
    text-align: left;
}
